body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    color: #666;
    font-weight: normal;
    margin: 10px 0;
}

/* เลือก Algorithm */
.select-algorithm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.select-algorithm label {
    font-size: 1em;
    display: flex;
    align-items: center;
    background-color: #9999;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.select-algorithm label:hover {
    color: #ffffff;
    background-color: #000000;
}

/* ส่วน Quantum Time */
.time {
    margin-bottom: 20px;
}

.time label {
    font-size: 1em;
    margin-right: 10px;
}

.time input,
.random input{
    padding: 5px;
    width: 60px;
}

/* ตาราง */
.main-table{
    border-collapse: collapse;
}

.main-table thead,
.main-table tbody {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.main-table tbody{
    display: block;
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

tbody td{
    width: 200px;
}

.process-id ,
.arrival-time ,
.burst-time ,
.priority {
    width: 148px;
}


.arrival-time input,
.burst-time input,
.priority input{
    width: 100px;
}

.main-table th,
.main-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.main-table th {
    background-color: transparent;
    color: #666;
    border: none;
}

.main-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.delete-process{
    width: 30px;
}

/* ปุ่ม */
button.add-btn,
button.reset-btn,
button.random-btn,
button.random-btn,
button.calculate-btn {
    background-color: gray;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button.add-btn:hover,
button.reset-btn:hover,
button.random-btn:hover,
button.random-btn:hover,
button.calculate-btn:hover {
    background-color: #000000;
}

/* ไอคอน Delete */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24
}

.delete-process .material-symbols-outlined {
    color: #f44336;
    font-size: 24px;
}

.delete-process .material-symbols-outlined:hover {
    color: #d32f2f;
    cursor: pointer;
}

/* Input Process */
.input-process {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.head-input{
    margin-bottom: 15px;
}

/*------------------------------------------------------------------------------ */

#ganttCharts, #comparisonChart-hidden {
    visibility: hidden;
}

.ganttChart {
    margin: 20px 0;
    max-width: 100%;
}

.ganttChart h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

#ganttCharts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timeline {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px; 
    padding-bottom: 30px;
}

.ganttTask {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
    position: relative;
}

.timeMarker {
    font-size: 12px;
    position: absolute;
    transform: translateX(-50%);
    bottom: -20px; 
    color: #333;
}

.end-time {
    position: absolute;
    right: 0;
    bottom: -20px;
    transform: translateX(50%);
    font-size: 12px;
    color: #333;
}
